<footer>
    
    <div class="info">
        <h5>&copy;wanderlust privacy</h5>
        <div class="info-social-link">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <hr>
        <div class="info-link">
            <a href="/privacy">privacy</a>
            <a href = '/terms'>terms</a>
        </div>
        
    </div>
    

</footer>